<header class = "header">
    <a id ="logo" href="/">Projeto trilha</a>
    <nav class="navigation">
        <ul class="menu">
            <a href="#"><li>fotos</li></a>
            <a href="#info"><li>sobre</li></a>
        </ul>
    </nav>
</header>
<main>
    <section id="hero">
        <div class="hero-text">

        </div>
        <div class="hero-image">

        </div>
    </section>
    <section id="info">

    </section>
</main>
