<header class = "header">
    <a id ="logo" href="/">Projeto trilha</a>
    <nav class="navigation">
        <ul class="menu">
            <a href="#"><li>fotos</li></a>
            <a href="#info"><li>sensores</li></a>
        </ul>
    </nav>
</header>
<main>
    <section id="hero">
        <div class="hero-text">
            <h1>sensoriamento trilha</h1>
            <p>Esse projeto envolve o monitoramento e previsão de focos de incêdios de trilhas e áreas florestais.</p>
            <a href="#info"><button>saiba mais sobre</button></a>
        </div>
        <div class="hero-image">
            <img src="img/background.png" height="500" width="500" alt="">
        </div>
    </section>
    <section id="info">
        <p>Nosso objetivo é implementar um sistema de monitoramento eficiente, utilizando sensores adequados ao ambiente, conectados a centrais de alarme, para uma resposta rápida a focos de incêndio em áreas de preservação e/ou trilhas ecológicas. Para isso iremos monitorar a temperatura e umidade do ambiente em que o dispositivo se encontra.</p>
    </section>
</main>
