body{
    background: rgb(13,36,93);
    background: linear-gradient(180deg, rgba(13,36,93,1) 49%, rgba(28,75,195,1) 86%);
}

a{
    text-decoration: none;
}

.header{
    font-size: 1.6rem;
    background: linear-gradient(to right, #434343 0%, black 100%);
    min-height: 9.0rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

#logo{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 800;
}

.menu{
    display: flex;
    gap: 1.8rem
}

.menu li{
    text-transform: uppercase;
    font-size: 2rem;
    list-style: none;
    color: rgb(255, 255, 255);
    
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main > #hero{
    display: flex;
    width: 100%;
    height: calc(100vh - 9.0rem);
}

main > #info{
    width: 100%;
    height: 100vh;
}

#hero{
    display: flex;
}

#hero > .hero-text{
    flex-grow: 0;
    flex-basis: 50%;
    height: 100%;
}

#hero > .hero-image{
    flex-grow: 0;
    flex-basis: 50%;
    height: 100%;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    padding-left: 10rem;
}

.hero-text > h1 {
    align-content: flex-start;
    font-size: 5.4rem;
    color: white;
    text-transform: capitalize;
}

.hero-text p{
    font-size: 3.5rem;
    color: white;
    text-align: justify;
}

.hero-text button{
    width: 31rem;
    height: 9.4rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    padding: 10rem;
}

#info p{
    font-size: 4rem;
    text-align: justify;
    color: white;
}